<!DOCTYPE html>
<html>

<head>
  <script src="socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
    window.onload = function() {
      //get all existing games and display them as a list
      $.ajax({
        crossOrigin: true,
        type: "POST",
        url: "http://localhost:8000/api/v1/getGames",
        success: function(gList) {
          //get the value of the object which is a list of game names
          gList = gList.text
          //if the is games, create a list
          if (gList) {
            //create list object
            var ObjUl = $('<ul></ul>');
            //if the list contain more than one object, use for each
            //otherwise just add on element
            if (gList.length > 1) {
              //for each game add a element
              $.each(gList, function(i) {
                //create empty element
                var Objli = $('<li></li>')
                var Obja = $('<a></a>')
                //properties of the elements
                ObjUl.addClass('ui-menu-item')
                ObjUl.attr("role", "menuitem")
                Obja.addClass("ui-all");
                Obja.attr("tabindex", "-1")

                //the content of the element
                Obja.text(gList[i])
                //create the element
                Objli.append(Obja)
                ObjUl.append(Objli)
              })
              //display all the elements in the games div
              $('.games').append(ObjUl);
            } else {
              var Objli = $('<li></li>')
              var Obja = $('<a></a>')
              ObjUl.addClass('ui-menu-item')
              ObjUl.attr("role", "menuitem")

              Obja.addClass("ui-all");
              Obja.attr("tabindex", "-1")
              Obja.text(gList)

              Objli.append(Obja)

              ObjUl.append(Objli)
              $('.games').append(ObjUl);
            }
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          alert("Status: " + textStatus);
          alert("Error: " + errorThrown);
        },
        crossDomain: true,
        dataType: 'json',
        contentType: "application/json",
      });
      var isConnected = false;
      var socket = io.connect();
      //when you click on the li, get the first character which is the id of the game
      $('li a').on('click', function() {
        //send the data as POST
        //make json of id of the game, and the player from the html name field
        var chosenRoom = {
          roomName: $(this).text()
        }


        //send this json to the server, to add this player to the selected game
        $.ajax({
          crossOrigin: true,
          type: "POST",
          url: "http://localhost:8000/api/v1/joinGame",
          data: chosenRoom,
          success: function(data) {
            //change this html or move to the game html
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            alert("Status: " + textStatus);
            alert("Error: " + errorThrown);
          },
          crossDomain: true,
          dataType: 'json',
          contentType: "application/json",
        });
      })
      //when you click on create game, emit a create game event
      $('.createGame').on('click', function() {
        socket.emit('createGame')
      })
      //when recieve into game event, change route or change page to the game
      socket.on('into game', function(data) {

      })
      //when recieve creating game event, go to create game route or into the game
      socket.on('creating game', function(data) {

      })
    }
  </script>
  <!-- <script type="text/javascript" src="js/jquery.ajax-cross-origin.min.js"></script> -->
  <title>
    <%= title %>
  </title>
  <script>
  </script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <div class="games">

  </div>
</body>

</html>
