<!DOCTYPE html>
<html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
    window.onload = function() {
      //get all existing games and display them as a list
      $.ajax({
        crossOrigin: true,
        type: "POST",
        url: "http://localhost:8000/api/v1/getGames",
        success: function(gList) {
          //get the value of the object which is a list of game names
          gList = gList.text
          //if the is games, create a list
          if (gList) {
            //create list object
            var ObjUl = $('<ul></ul>');
            //if the list contain more than one object, use for each
            //otherwise just add on element
            if (gList.length > 1) {
              //for each game add a element
              $.each(gList, function(i) {
                //create empty element
                var Objli = $('<li></li>')
                var Obja = $('<a></a>')
                $(Objli).attr('id', i + 1);
                ObjUl.addClass('gameList')
                Obja.addClass("specificGame");
                Obja.text(gList[i])

                Objli.append(Obja)

                ObjUl.append(Objli)
              })
              //display all the elements in the games div
              $('.games').append(ObjUl);
            } else {
              var Objli = $('<li></li>')
              var Obja = $('<a></a>')
              ObjUl.addClass('gameList')

              Obja.addClass("specificGame");
              Obja.text(gList)

              Objli.append(Obja)

              ObjUl.append(Objli)
              $('.games').append(ObjUl);
            }
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          alert("Status: " + textStatus);
          alert("Error: " + errorThrown);
        },
        crossDomain: true,
        dataType: 'json',
        contentType: "application/json",
      });

      $(function() {
        $(document).ready(function() {
          $(".gameList li a").click(function() {
            alert('clicked')
            var gameName = $(this).text()
            var room = {
              roomName: $(this).text()
            };
            room = JSON.stringify(room);
            $.ajax({
              crossOrigin: true,
              type: "POST",
              url: "http://localhost:8000/api/v1/joinGame",
              data: room,
              success: function(data) {
                alert('s1')
                $.ajax({
                  type: "GET",
                  url: "http://localhost:3000/games/" + gameName,
                  success: function(dataGet) {
                    alert('s2')
                    url = "http://localhost:3000/games/" + gameName
                    alert(url)
                    window.location.replace(url)
                  },
                  error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown)
                  }
                })
              },
              //change this html or move to the game html

              error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert("Status: " + textStatus);
                alert("Error: " + errorThrown);
              },
              crossDomain: true,
              dataType: 'json',
              contentType: "application/json",
            });
          });
        });
      });

      var socket = io.connect();
      socket.emit('hi','Hi!');
      socket.on('hi',function(data){
        alert(data)
      })
      //when you click on the li, get the first character which is the id of the game

      //send the data as POST
      //make json of id of the game, and the player from the html name field
      //   var chosenRoom = {
      //     roomName: $(this).text()
      //   }
      //
      //
      //   //send this json to the server, to add this player to the selected game
      //   $.ajax({
      //     crossOrigin: true,
      //     type: "POST",
      //     url: "http://localhost:8000/api/v1/joinGame",
      //     data: chosenRoom,
      //     success: function(data) {
      //       //change this html or move to the game html
      //     },
      //     error: function(XMLHttpRequest, textStatus, errorThrown) {
      //       alert("Status: " + textStatus);
      //       alert("Error: " + errorThrown);
      //     },
      //     crossDomain: true,
      //     dataType: 'json',
      //     contentType: "application/json",
      //   });
      // })
      //when you click on create game, emit a create game event
      //when recieve into game event, change route or change page to the game
    }
  </script>
  <!-- <script type="text/javascript" src="js/jquery.ajax-cross-origin.min.js"></script> -->
  <title>
    <%= title %>
  </title>
  <script>
    function creation() {
      var temp = "createGame";
      url = "http://localhost:3000/" + temp;
      window.location.replace(url);
    }
  </script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <script></script>
  <h1><%= title %></h1>
  <div class="games">
  </div>
  <button onclick="creation()">create game</button>
</body>

</html>
