<!DOCTYPE html>
<html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
  <title>HeartstoneVR</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
    function setCookie(token, tempId, exdays) {
      var d = new Date();
      d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
      var expires = "expires=" + d.toGMTString();
      document.cookie = token + "=" + tempId + ";" + expires + ";path=/";
    }

    function getCookie(token) {
      var id = token + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(id.length, c.length);
        }
      }
      return "";
    }

    function checkCookie() {
      var user = getCookie("token");
      if (user == "") {
        url = "http://localhost:3000/";
        window.location.replace(url);
        alert("You Are Not Signed In!");
      }
    }
    var getGames = function() {
      //get all existing games and display them as a list
      $.ajax({
        crossOrigin: true,
        type: "POST",
        url: "http://localhost:8000/api/v1/getGames",
        success: function(gList) {
          //get the value of the object which is a list of game names
          gList = gList.text
          //if the is games, create a list
          if (gList) {
            //create list object
            var ObjUl = $('<ul class="sidebarservices"></ul>');
            var HeadLi = $('<li class="head">Available Games</li>')
            ObjUl.append(HeadLi)
            //if the list contain more than one object, use for each
            //otherwise just add on element
            if (gList.length > 1) {
              //for each game add a element
              $.each(gList, function(i) {
                //create empty element
                var Objli = $('<li onclick=UponClicking($(this))></li>')
                $(Objli).attr('id', i + 1);
                ObjUl.addClass('gameList')
                Objli.text(gList[i])
                ObjUl.append(Objli)

              })
              //display all the elements in the games div
              $('.games').append(ObjUl);
            } else {
              var Objli = $('<li onclick=UponClicking($(this))></li>')
              ObjUl.addClass('gameList')
              Objli.text(gList)
              ObjUl.append(Objli)
              $('.games').append(ObjUl);
            }
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          console.log("Status: " + textStatus);
          console.log("Error: " + errorThrown);
        },
        crossDomain: true,
        dataType: 'json',
        contentType: "application/json",
      });
      //when you click on the li, get the first character which is the id of the game
      //send the data as POST
      //make json of id of the game, and the player from the html name field
      //   var chosenRoom = {
      //     roomName: $(this).text()
      //   }
      //
      //
      //   //send this json to the server, to add this player to the selected game
      //   $.ajax({
      //     crossOrigin: true,
      //     type: "POST",
      //     url: "http://localhost:8000/api/v1/joinGame",
      //     data: chosenRoom,
      //     success: function(data) {
      //       //change this html or move to the game html
      //     },
      //     error: function(XMLHttpRequest, textStatus, errorThrown) {
      //       alert("Status: " + textStatus);
      //       alert("Error: " + errorThrown);
      //     },
      //     crossDomain: true,
      //     dataType: 'json',
      //     contentType: "application/json",
      //   });
      // })
      //when you click on create game, emit a create game event
      //when recieve into game event, change route or change page to the game
    }
  </script>
  <!-- <script type="text/javascript" src="js/jquery.ajax-cross-origin.min.js"></script> -->
  <title>
    <%= title %>
  </title>
  <script>
    function creation() {
      var temp = "createGame";
      url = "http://localhost:3000/" + temp;
      window.location.replace(url);
    }

    function start() {
      checkCookie()
      getGames()

    }

    function UponClicking(e) {
      alert('clicked')
      var gameName = $(e).text()
      var room = {
        roomName: $(e).text()
      };
      room = JSON.stringify(room);
      $.ajax({
        crossOrigin: true,
        type: "POST",
        url: "http://localhost:8000/api/v1/joinGame",
        data: room,
        crossDomain: true,
        success: function(data) {
          console.log('s1')
          $.ajax({
            crossOrigin: true,
            crossDomain: true,
            type: "GET",
            url: "http://localhost:3000/games/" + gameName,
            success: function(dataGet) {
              console.log('s2')
              url = "http://localhost:3000/games/" + gameName
              console.log(url)
              window.location.replace(url)
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              console.log(errorThrown)
            }
          })
        },
        //change this html or move to the game html
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          console.log("Status: " + textStatus);
          console.log("Error: " + errorThrown);
        },
        dataType: 'json',
        contentType: "application/json",
      });
    }
  </script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body onload="start()">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
        <a class="navbar-brand" href="/homePage">HeartstoneVR</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/homePage">Home</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
        </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/createGame">Create Game<span class="sr-only">(current)</span></a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <h1><%= title %></h1>
  <div class="games">
  </div>
  <button onclick="creation()" class="btn btn-info btn-cons">create game</button>
</body>

</html>
