<!DOCTYPE html>
<html>

<head>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- <script type="text/javascript" src="js/jquery.ajax-cross-origin.min.js"></script> -->
  <title>
    <%= title %>
  </title>
  <script>
    function sendData() {
      var formData = JSON.stringify($("#myform").serializeArray());
      $.ajax({
        crossOrigin: true,
        type: "POST",
        url: "http://localhost:8000/api/v1/login",
        data: formData,
        success: function(data) {
          console.log(data);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          alert("Status: " + textStatus);
          alert("Error: " + errorThrown);
        },
        crossDomain: true,
        dataType: 'json',
        contentType: "application/json",
      });
    }
  </script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <form id="myform" onsubmit="sendData()" action="scene">
    <label>name -</label>
    <input type="txt" name="username" placeholder="name">
    <label>password -</label>
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
  </form>
</body>

</html>
