<!DOCTYPE html>
<html>

<head>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <title>Project Loki</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

  <!-- <script type="text/javascript" src="js/jquery.ajax-cross-origin.min.js"></script> -->
  <script>
    // var io = require("socket.io");
    // var socket = io.connect();
    // socket.on('connect', function() {})
    function setCookie(token, tempId, exdays) {
      var d = new Date();
      d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
      var expires = "expires=" + d.toGMTString();
      document.cookie = token + "=" + tempId + ";" + expires + ";path=/";
    }

    function getCookie(token) {
      var id = token + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(id.length, c.length);
        }
      }
      return "";
    }

    function checkCookie() {
      var user = getCookie("token");
      if (user != "") {
        alert("Welcome again");
        var temp = "homePage";
        url = "http://" + 'localhost' + ":3000/" + temp;
        window.location.replace(url);
      }
    }

    //send the login data to the main server for authentication
    function sendData() {
      //get the data from the form and alter it to json file
      var formData = JSON.stringify($("#myform").serializeArray());
      //send the data as POST
      $.ajax({
        crossOrigin: true,
        type: "POST",
        url: "http://localhost:8000/api/v1/login",
        data: formData,
        success: function(data) {
          //get the value of the object
          data = data.text
          //parse the object into JSON
          data = JSON.parse(data)
          //if the user does exist, change its route to the homePage.
          //if no, stay in the login
          if (data.status == "logged in") {
            setCookie('token', data.token, 0.05)
            var temp = "homePage";
            url = "http://localhost:3000/" + temp;
            window.location.replace(url);
            //socket.emit('logged in')
          } else {
            url = "http://localhost:3000/";
            window.location.replace(url);
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          window.location.replace("http://localhost:3000/")

        },
        crossDomain: true,
        dataType: 'json',
        contentType: "application/json"
      });
    }
  </script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body onload="checkCookie()">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
        <a class="navbar-brand" href="/homePage">HearthstoneVR</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/index">Login</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
        </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <div class="container">

    <div class="row" style="margin-top:20px">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form role="form" onsubmit="sendData()">
          <fieldset>
            <h2>Please Sign In</h2>
            <hr class="colorgraph">
            <div class="form-group">
              <input type="text" name="username" id="email" class="form-control input-lg" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
            </div>
            <hr class="colorgraph">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a href="/register" class="btn btn-lg btn-primary btn-block">Register</a>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

  </div>
</body>

</html>
