<!DOCTYPE html>
<html>

<head>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- <script type="text/javascript" src="js/jquery.ajax-cross-origin.min.js"></script> -->
  <title>
    <%= title %>
  </title>
  <script>
    // var io = require("socket.io");
    // var socket = io.connect();
    // socket.on('connect', function() {})
    //send the login data to the main server for authentication
    function sendData() {
      //get the data from the form and alter it to json file
      var formData = JSON.stringify($("#myform").serializeArray());
      //send the data as POST
      $.ajax({
        crossOrigin: true,
        type: "POST",
        url: "http://localhost:8000/api/v1/login",
        data: formData,
        success: function(data) {
          //data = JSON.stringify(data)
          data = data.text
          data = JSON.parse(data)
          alert("worked " +  data.status)
          if (data.status == "logged in") {
            var temp = "scene";
            url = "http://localhost:3000/" + temp;
            window.location.replace(url);
            //socket.emit('logged in')
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          window.location.replace("http://localhost:3000/")

        },
        crossDomain: true,
        dataType: 'json',
        contentType: "application/json"
      });
    }
  </script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <form id="myform" onsubmit="sendData()">
    <label>name -</label>
    <input type="txt" name="username" placeholder="name">
    <label>password -</label>
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
  </form>
</body>

</html>
